@font-face {
    font-family: 'Open-Light';
    url('../../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Regular';
    url('../../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Bold';
    url('../../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Open-Regular", sans-serif !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #ddd;
    font-kerning: normal;
    letter-spacing: 0.3pt;
    /*letter-spacing: 0.5pt;*/
    /*letter-spacing: 0.8pt;*/
    /*letter-spacing: 1pt;*/
}

h4, .h4 {
    color: rgb(204,147,0) !important;
    font-family: "Open-Bold", sans-serif !important;
}
.vote-sessions .vote h4{
    color: #FFF !important;
}
h2 {
    color: #2eb499 !important;
}

.text-warning {
    color: #000;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {

    background-color: #2eb499 !important;

}

.nav-tabs {
    border-bottom: 5px solid #2eb499 !important;
}


.user-card {
    color: rgb(204, 147, 0) !important;
}

.nav-tabs > li > a {
    color: #000 !important;
}

.nav-tabs > li > a:hover {
    background-color: #000;
}

.entries-selectable .entries .entry:hover .entry-not-selected .entry-status {
    background: #2eb499!important;
    border-color: #2eb499;
}

/*.alert-warning {*/
    /*background-color: #2eb499;*/
    /*border-color: #2eb499;*/
/*}*/

.entries .cats-list {
    color: #fff;
}

.selected-files .title {
    display: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #000 !important;
}

.selected-files .img-holder-static {
    background: none !important;
}

footer.navbar {
    background: #000000 !important;
    border-top: 1px solid #333 !important;
}

.selected-files .title {
    background: #ddd !important;
    bottom: 0 !important;
}

.entries .entry-title > a {
    color: #999;
    font-family: 'Open-Bold' !important;
}

.entry .panel-heading {
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradhent(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;

}

.well {
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradhent(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: none;
}

.fa {
    #color: #fff ;
}

.table{
    color: #FFF;
    background-color: #41464c;
}
.table-responsive > .table{
    background: #32363b;
}
h4 small {
    color: #ccc ;
}

.open > .dropdown-menu {
    background-color: #3a3f44 !important;
}

.entry .entry-selected {
    background-image: none !important;
    background-color: #2eb499;
    border-radius: 5px;
}

.entry-log .well{
    color:#FFF;
}
.entries .cats-list {
    color: rgb(204, 147, 0);
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #ddd;

}.table-hover > tbody > tr > td {
     background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
     background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
     background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
     background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
     background-repeat: no-repeat;
     filter: progid:DXImageTransform.Microsoft.gradhent(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
     -webkit-filter: none;
     filter: none;
     border: none;
}

a, .btn-link {
    color: #fff;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #333;
}

.table > thead > tr > th {

    background-color: #555;
}
.voting .entries .entry-title{
    margin-left: 0;
}
.voting .entry-votes{
    display: none;
}
.entry-thumb{
    border: 1px solid #484e55;
}